# IntelliJ
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env

# Generated data
data/processed/
*.log

# Power BI temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db